.Right{
  position: absolute;
  top: 0;
  left: 65%;
  }

.Left{
  position: absolute;
  left: 3%;
}
#lh1{
  position: absolute;
  left: 6%;
}
#EmployeeListItem{
  padding-top: 140px;
  border: 10px, solid,red;
}
.SingleEmployee{
  border: 1px solid red;
  padding-left: 150px;
  padding-right: 150px;
}
#search{
  position: absolute;
  top: 9%;
  left: 11%;
}
#p{
  position: absolute;
  top: 10%;
}

body{
  color: red;
  background-color: black;
}